.vbox-alert {
    -fx-background-color: -fx-night-bg;
    -fx-border-color: -fx-third-color;
}

.label-title {
    -fx-font-size: 20;
    -fx-text-fill: -fx-font-alert;
    -fx-font-family: Consolas;
}

.label-desc {
    -fx-font-size: 14;
    -fx-text-fill: -fx-font-alert;
    -fx-font-family: Consolas;

}

.button-alert {
    -fx-background-color: -fx-third-color;
    -fx-text-fill: -fx-font-alert;
    -fx-font-family: Consolas;
}

.button-alert:hover {
    -fx-background-color: derive(-fx-third-color, -10%);
}

